body {
    font: 14px/1.3em Arial, Helvetica, sans-serif;
}

.navbar {
    background: #2FB1B0;
}

fieldset.fixed-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.fixed-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}

.widget-header-custom {
    background: #F3FBFB;
    color: #37B0AE;
    vertical-align: middle;
    line-height: 40px;
    font-size: 16px;
}

.widget-header-custom > .widget-title > h1, h2, h3, h4, h5 {
    color: #ffffff !important;
}

.page-title {
    margin: 0 0 12px;
    border-bottom: 1px dotted #E2E2E2;
    padding-top: 7px;
}

.page-title > h1, h2, h3, h4, h5 {
    color: #2FB1B0 !important;
}

.page-header > h1, h2, h3, h4, h5 {
    color: #ffffff;
}

.single {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}

.single > .dz-message {
    padding-top: 30px;
}

.multiple {
    width: 100%;
}

.theme-color {
    background-color: #2FB1B0 !important;
    color: #ffffff;
}

.table-header {
    background: #2FB1B0;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.avatar {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
    width: 227px;
    height: 227px;
}

.avatar {
    display: inline-block;
}

.avatar .file-input {
    display: table-cell;
    width: 227px;
    height: 227px;
}

.avatar > .file-input > .file-preview {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 8px;
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}

.avatar > .file-input > .file-preview > .file-drop-zone {
    border: 1px dashed #aaa;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    width: 100%;
    height: 100%;
}

.avatar > .file-input > .file-preview > .file-drop-zone > .file-preview-thumbnails {
    width: 100%;
    height: 100%;
}

.form-radio-group {
    border-radius: 0;
    box-shadow: none;
    height: 34px;
    padding: 6px 12px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.dataTables_length {
    padding: 5px;
}

.dt-buttons {
    padding: 5px;
}

.bootstrap-select .bs-placeholder {
    background-color: #ffffff !important;
    background-color: #ffffff !important;
    color: #1a1a1a !important;
}

.btn, .btn-default, .btn-default.focus, .btn-default:focus, .btn.focus, .btn:focus {
    background-color: #2FB1B0 !important;
    border-color: #2FB1B0 !important;
}

.btn-default.focus:hover, .btn-default:active:hover, .btn-default:focus:active, .btn-default:focus:hover, .btn-default:hover, .btn.focus:hover, .btn:active:hover, .btn:focus:active, .btn:focus:hover, .btn:hover, .open > .btn-default.dropdown-toggle, .open > .btn-default.dropdown-toggle.focus, .open > .btn-default.dropdown-toggle:active, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn.dropdown-toggle, .open > .btn.dropdown-toggle.focus, .open > .btn.dropdown-toggle:active, .open > .btn.dropdown-toggle:focus, .open > .btn.dropdown-toggle:hover {
    background-color: #2FB1B0 !important;
    border-color: #2FB1B0 !important;
}

.dataTables_wrapper .dataTables_info {
    padding-top: 5px;
    width: 50%;
    line-height: 1.42857143;
    float: left;
}

.dataTables_wrapper .dataTables_paginate {
    padding-top: 5px;
    width: 50%;
    float: right;
}

td .btn {
    margin: 1px;
}

.tags {
    width: 80% !important;
}

.img-50 {
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.img-100 {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.img-150 {
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.modal.fade.in {
    top: 20%;
}

.chosen-container {
    width: 83.333% !important;
}