<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ace.dao.AttributeMapper">
    <select id="recordsTotal" resultType="java.lang.Integer">
        SELECT count(1) AS recordsTotal FROM p_attributes
        <where>
            <if test="keyword != null and keyword != ''">
                and name LIKE "%${keyword}%"
            </if>
        </where>
    </select>

    <select id="dataList" resultType="com.ace.entity.room.Attribute">
        select id,name,type,value from p_attributes
        <where>
            <if test="keyword != null and keyword != ''">
                and name LIKE "%${keyword}%"
            </if>
        </where>
        order by id desc LIMIT #{start},#{length}
    </select>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        insert into p_attributes(name,type,value) values (#{name},#{type},#{value})
    </insert>

    <select id="findById" resultType="com.ace.entity.room.Attribute">
        select id,name,type,value from p_attributes where id = #{id} limit 1
    </select>

    <update id="update">
        update p_attributes set name = #{name},type = #{type},value = #{value} where id = #{id}
    </update>
    <delete id="destroy">
        delete  from p_attributes where id = #{id}
    </delete>
</mapper>