<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ace.dao.CouponMapper">
    <resultMap type="com.ace.entity.SystemCoupon" id="couponMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="discount" property="discount"/>
        <result column="min" property="min"/>
        <result column="resume" property="resume"/>
        <result column="expired_type" property="expiredType"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="duration" property="duration"/>
        <result column="limit_wday" property="limitWday" typeHandler="com.ace.dao.handler.WeekListTypeHandler"/>
        <result column="limit_room" property="limitRoom" typeHandler="com.ace.dao.handler.LongListHandler"/>
    </resultMap>
    <select id="recordsTotal" resultType="java.lang.Long">
        SELECT count(1) AS recordsTotal FROM bb_coupons
        <where>
            <if test="staff!=null">
                AND org_id = #{staff.orgId}
            </if>
            <if test="criteria.name!=null">
                AND bb_coupons.name LIKE CONCAT('%',#{criteria.name},'%')
            </if>
            <if test="criteria.from!=null">
                AND #{criteria.from} >= bb_coupons.start_date
            </if>
            <if test="criteria.to!=null">
                AND bb_coupons.end_date >= #{criteria.to}
            </if>
        </where>
    </select>

    <select id="dataList" resultMap="couponMap">
        SELECT * FROM bb_coupons
        <where>
            <if test="staff!=null">
                AND org_id = #{staff.orgId}
            </if>
            <if test="criteria.name!=null">
                AND name LIKE CONCAT('%',#{criteria.name},'%')
            </if>
            <if test="criteria.from!=null">
                AND #{criteria.from} >= start_date AND end_date >= #{criteria.from}
            </if>
            <if test="criteria.to!=null">
                AND #{criteria.to} >= start_date AND end_date >= #{criteria.to}
            </if>
        </where>
        ORDER BY id DESC LIMIT #{start},#{length}
    </select>

    <insert id="create" useGeneratedKeys="true" keyProperty="coupon.id">
        insert into bb_coupons (project_id,
                                org_id,
                                name,
                                type,
                                discount,
                                min,
                                resume,
                                amount,
                                expired_type,
                                start_date,
                                end_date,
                                duration,
                                limit_wday,
                                limit_room)
        values (#{staff.projectId},
                #{staff.orgId},
                #{coupon.name},
                #{coupon.type},
                #{coupon.discount},
                #{coupon.min},
                #{coupon.resume},
                #{coupon.amount},
                #{coupon.expiredType,typeHandler=com.ace.dao.handler.EnumHandler},
                #{coupon.startDate},
                #{coupon.endDate},
                #{coupon.duration},
                #{coupon.limitWday,typeHandler=com.ace.dao.handler.WeekListTypeHandler},
                #{coupon.limitRoom,typeHandler=com.ace.dao.handler.LongListHandler})
    </insert>

    <select id="findById" resultMap="couponMap">
        select *
        from bb_coupons
        where id = #{id}
        limit 1
    </select>

    <update id="update">
        update bb_coupons
        set name       = #{name},
            type       = #{type},
            discount   = #{discount},
            min        = #{min},
            resume     = #{resume},
            limit_wday = #{limitWday,typeHandler=com.ace.dao.handler.WeekListTypeHandler},
            limit_room = #{limitRoom,typeHandler=com.ace.dao.handler.LongListHandler}
        where id = #{id}
    </update>
    <delete id="destroy">
        delete
        from bb_coupons
        where id = #{id}
    </delete>
</mapper>