<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ace.dao.MemberCouponMapper">
    <resultMap type="com.ace.entity.MemberCoupon" id="mcMap">
        <id column="id" property="id"/>
        <result column="org_id" property="orgId"/>
        <result column="emp_id" property="empId"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="discount" property="discount"/>
        <result column="min" property="min"/>
        <result column="resume" property="resume"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="status" property="status"/>
        <result column="limit_wday" property="limitWday" typeHandler="com.ace.dao.handler.WeekListTypeHandler"/>
        <result column="limit_room" property="limitRoom" typeHandler="com.ace.dao.handler.LongListHandler"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>
    <select id="recordsTotal" resultType="java.lang.Long">
        SELECT count(1) AS recordsTotal FROM bb_member_coupons
        <where>
            <if test="keyword != null and keyword != ''">
                and name LIKE "%${keyword}%"
            </if>
            <if test="couponId != 0">
                and coupon_id = ${couponId}
            </if>
        </where>
    </select>

    <select id="dataList" resultMap="mcMap">
        select * from bb_member_coupons
        <where>
            <if test="keyword != null and keyword != ''">
                and name LIKE "%${keyword}%"
            </if>
            <if test="couponId != null and couponId != '' and couponId != 0">
                and coupon_id = ${couponId}
            </if>
        </where>
        order by id desc LIMIT #{start},#{length}
    </select>

    <insert id="grant" useGeneratedKeys="true" keyProperty="id">
        insert into
        bb_member_coupons(org_id,emp_id,coupon_id,name,type,discount,min,resume,start_date,end_date,limit_wday,limit_room)
        values
        <foreach collection="coupons" item="mc" index="index" separator=",">
            (#{mc.orgId},
            #{mc.empId},
            #{mc.couponId},
            #{mc.name},
            #{mc.type},
            #{mc.discount},
            #{mc.min},
            #{mc.resume},
            #{mc.startDate},
            #{mc.endDate},
            #{mc.limitWday,typeHandler=com.ace.dao.handler.WeekListTypeHandler},
            #{mc.limitRoom,typeHandler=com.ace.dao.handler.LongListHandler})
        </foreach>
    </insert>

    <select id="findById" resultMap="mcMap">
        select *
        from bb_member_coupons
        where id = #{id}
        limit 1
    </select>

    <update id="use">
        update bb_member_coupons
        set status = #{status.code}
        where id = #{id}
    </update>

    <select id="projectCoupons" resultMap="mcMap">
        SELECT *
        FROM bb_member_coupons
        JOIN bb_coupons ON bb_member_coupons.coupon_id = bb_coupons.id
        WHERE bb_coupons.project_id = #{project} AND #{total} >= bb_member_coupons.min AND CURRENT_DATE BETWEEN
        bb_member_coupons.start_date AND bb_member_coupons.end_date AND ((bb_member_coupons.org_id in
        <foreach collection="account.staffList" item="staff" index="index" open="(" separator="," close=")">
            #{staff.orgId}
        </foreach>
        AND bb_member_coupons.emp_id IS NULL
        ) OR (
        bb_member_coupons.emp_id in
        <foreach collection="account.staffList" item="staff" index="index" open="(" separator="," close=")">
            #{staff.empId}
        </foreach>
        ))
    </select>
</mapper>