<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ace.dao.ProtocolMapper">
    <select id="findBy" resultType="java.lang.String">
        SELECT content
        FROM bb_protocol
        WHERE org_id = #{orgId}
    </select>

    <insert id="update" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="count" resultType="int" order="BEFORE">
            SELECT count(1) FROM bb_protocol WHERE org_id = #{staff.orgId}
        </selectKey>
        <if test="count > 0">
            UPDATE bb_protocol
            SET content = #{protocol}
            WHERE org_id = #{staff.orgId}
        </if>
        <if test="count==0">
            INSERT INTO bb_protocol (project_id,org_id, content)
            values(#{staff.projectId},#{staff.orgId},#{protocol})
        </if>
    </insert>
</mapper>