<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ace.dao.ReceiptMapper">
    <resultMap type="com.ace.entity.Receipt" id="receiptMap">
        <id column="id" property="id"/>
        <result column="no" property="no"/>
        <result column="order_no" property="orderNo"/>
        <result column="buyer" property="buyer"/>
        <result column="price" property="price"/>
        <result column="created_at" property="createdAt"/>
        <result column="account_id" property="updatedAt"/>
    </resultMap>
    <select id="recordsTotal" resultType="java.lang.Long">
        SELECT count(1) AS recordsTotal
        FROM bb_receipts br
        LEFT JOIN bb_orders bo ON br.order_no = CONCAT(DATE_FORMAT(bo.created_at, '%Y%m%d'),LPAD(bo.id, 6, 0))
        INNER JOIN bb_order_appointments boa ON bo.id = boa.order_id
        INNER JOIN bb_rooms brm ON boa.room_id = brm.id
        <where>
            <if test="staff!=null">
                brm.org_id = #{staff.orgId}
            </if>
            <if test="criteria.keyword!=null and criteria.keyword!=''">
                AND CONCAT(DATE_FORMAT(bo.created_at, '%Y%m%d'), LPAD(bo.id, 6, 0)) LIKE
                CONCAT('%',#{criteria.keyword},'%')
            </if>
            <if test="criteria.totalFrm!=null">
                AND bo.total >= #{criteria.totalFrm}
            </if>
            <if test="criteria.totalTo!=null">
                AND #{criteria.totalTo} >= bo.total
            </if>
            <if test="criteria.payAmountFrm!=null">
                AND bo.pay_amount >= #{criteria.payAmountFrm}
            </if>
            <if test="criteria.payAmountTo!=null">
                AND #{criteria.payAmountTo} >= bo.pay_amount
            </if>
            <if test="criteria.from!=null">
                AND bo.created_at >= #{criteria.from}
            </if>
            <if test="criteria.to!=null">
                AND #{criteria.to} >= bo.created_at
            </if>
            <if test="criteria.status">
                AND bo.status = #{criteria.status.code}
            </if>
        </where>
    </select>

    <select id="dataList" resultType="com.ace.entity.ReceiptDetail">
        SELECT
        br.order_no AS orderNo,
        br.no AS no,
        brm.project_id AS projectId,
        brm.project_name AS projectName,
        brm.org_name AS orgName,
        brm.name AS roomName,
        bo.total AS total,
        bo.pay_amount AS payAmount,
        br.price AS price,
        bo.created_at AS createdAt,
        br.created_at AS paidAt,
        bo.pay_type AS payType
        FROM bb_receipts br
        LEFT JOIN bb_orders bo ON br.order_no = CONCAT(DATE_FORMAT(bo.created_at, '%Y%m%d'),LPAD(bo.id, 6, 0))
        INNER JOIN bb_order_appointments boa ON bo.id = boa.order_id
        INNER JOIN bb_rooms brm ON boa.room_id = brm.id
        <where>
            <if test="staff!=null">
                brm.org_id = #{staff.orgId}
            </if>
            <if test="criteria.keyword!=null and criteria.keyword!=''">
                AND CONCAT(DATE_FORMAT(bo.created_at, '%Y%m%d'), LPAD(bo.id, 6, 0)) LIKE
                CONCAT('%',#{criteria.keyword},'%')
            </if>
            <if test="criteria.totalFrm!=null">
                AND bo.total >= #{criteria.totalFrm}
            </if>
            <if test="criteria.totalTo!=null">
                AND #{criteria.totalTo} >= bo.total
            </if>
            <if test="criteria.payAmountFrm!=null">
                AND bo.pay_amount >= #{criteria.payAmountFrm}
            </if>
            <if test="criteria.payAmountTo!=null">
                AND #{criteria.payAmountTo} >= bo.pay_amount
            </if>
            <if test="criteria.from!=null">
                AND bo.created_at >= #{criteria.from}
            </if>
            <if test="criteria.to!=null">
                AND #{criteria.to} >= bo.created_at
            </if>
            <if test="criteria.status">
                AND bo.status = #{criteria.status.code}
            </if>
        </where>
        ORDER BY br.id DESC LIMIT #{criteria.start},#{criteria.length}
    </select>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        insert into bb_receipts (no, order_no, seller, buyer, price)
        values (#{no}, #{orderNo}, #{seller}, #{buyer}, #{price})
    </insert>


    <select id="findById" resultMap="receiptMap">
        select *
        from bb_receipts
        where id = #{id}
        limit 1
    </select>


    <select id="findByOrderNo" resultType="com.ace.entity.ReceiptDetail">
        SELECT br.order_no      AS orderNo,
               br.no            AS no,
               brm.project_id   AS projectId,
               brm.project_name AS projectName,
               brm.org_name     AS orgName,
               brm.name         AS roomName,
               bo.total         AS total,
               bo.pay_amount    AS payAmount,
               br.price         AS price,
               bo.created_at    AS createdAt,
               br.created_at    AS paidAt,
               bo.pay_type      AS payType
        FROM bb_receipts br
                 LEFT JOIN bb_orders bo ON br.order_no = CONCAT(DATE_FORMAT(bo.created_at, '%Y%m%d'), LPAD(bo.id, 6, 0))
                 INNER JOIN bb_order_appointments boa ON bo.id = boa.order_id
                 INNER JOIN bb_rooms brm ON boa.room_id = brm.id
        WHERE br.order_no = #{no}
        LIMIT 1
    </select>
</mapper>