<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ace.dao.RoomMapper">
    <resultMap type="com.ace.entity.room.Room" id="roomMap">
        <id column="id" property="id"/>
        <result column="staff_id" property="staffId"/>
        <result column="name" property="name"/>
        <result column="cover" property="cover"/>
        <result column="image" property="image"/>
        <result column="serial_no" property="serialNo"/>
        <result column="address" property="address"/>
        <result column="building_no" property="buildingNo"/>
        <result column="floor_no" property="floorNo"/>
        <result column="room_no" property="roomNo"/>
        <result column="layer_height" property="layerHeight"/>
        <result column="layer_area" property="layerArea"/>
        <result column="quota" property="quota"/>
        <result column="rental" property="rental"/>
        <result column="supervisor" property="supervisor"/>
        <result column="supervisor_mobile" property="supervisorMobile"/>
        <result column="supervisor_email" property="supervisorEmail"/>
        <result column="confirmation" property="confirmation"/>
        <result column="payment" property="payment"/>
        <result column="layout" property="layout"/>
        <result column="resume" property="resume"/>
    </resultMap>
    <select id="recordsTotal" resultType="java.lang.Integer">
        SELECT count(1) AS recordsTotal FROM bb_rooms
        <where>
            <if test="keyword != null and keyword != ''">
                and name LIKE "%${keyword}%"
            </if>
            <if test="staff != null and staff != ''">
                and staff_id = #{staff}
            </if>
        </where>
    </select>

    <select id="dataList" resultMap="roomMap">
        select * from bb_rooms
        <where>
            <if test="keyword != null and keyword != ''">
                and name LIKE "%${keyword}%"
            </if>
            <if test="staff != null and staff != ''">
                and staff_id = #{staff}
            </if>
        </where>
        order by id desc LIMIT #{start},#{length}
    </select>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        insert into bb_rooms(staff_id,name,cover,image,serial_no,address,building_no,floor_no,room_no,layer_height,layer_area,quota,rental,supervisor,supervisor_mobile,supervisor_email,confirmation,payment,layout,resume)
        values (
        #{staffId},
        #{name},
        #{cover},
        #{image,typeHandler=com.ace.dao.handler.ListTypeHandler},
        #{serialNo},
        #{address},
        #{buildingNo},
        #{floorNo},
        #{roomNo},
        #{layerHeight},
        #{layerArea},
        #{quota},
        #{rental,typeHandler=com.ace.dao.handler.EnumTypeHandler},
        #{supervisor},
        #{supervisorMobile},
        #{supervisorEmail},
        #{confirmation,typeHandler=com.ace.dao.handler.EnumTypeHandler},
        #{payment,typeHandler=com.ace.dao.handler.EnumTypeHandler},
        #{layout,typeHandler=com.ace.dao.handler.EnumTypeHandler},
        #{resume}
        )
    </insert>

    <select id="findById" resultMap="roomMap">
        select * from bb_coupons where id = #{id} limit 1
    </select>

    <update id="update">
        update bb_rooms set name = #{name},resume=#{resume} where id = #{id}
    </update>

    <delete id="destroy">
        delete  from bb_rooms where id = #{id}
    </delete>
</mapper>