<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ace.dao.RoomMapper">
    <resultMap id="lMap" type="com.ace.entity.Room">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="serial_no" property="serialNo"/>
        <result column="publish" property="publish"/>
        <result column="rental" property="rental"/>
    </resultMap>
    <resultMap id="dMap" type="com.ace.entity.Room">
        <id column="id" property="id"/>
        <result column="project_id" property="projectId"/>
        <result column="project_name" property="projectName"/>
        <result column="name" property="name"/>
        <result column="cover" property="cover"/>
        <result column="image" property="image" typeHandler="com.ace.dao.handler.StringListHandler"/>
        <result column="serial_no" property="serialNo"/>
        <result column="building_no" property="buildingNo"/>
        <result column="floor_no" property="floorNo"/>
        <result column="room_no" property="roomNo"/>
        <result column="layer_height" property="layerHeight"/>
        <result column="type" property="type"/>
        <result column="publish" property="publish"/>
        <result column="layer_area" property="layerArea"/>
        <result column="quota" property="quota"/>
        <result column="free" property="free"/>
        <result column="open_date" property="openDate"/>
        <result column="close_date" property="closeDate"/>
        <result column="rental" property="rental"/>
        <result column="supervisor" property="supervisor"/>
        <result column="supervisor_mobile" property="supervisorMobile"/>
        <result column="supervisor_email" property="supervisorEmail"/>
        <result column="cfm" property="cfm"/>
        <result column="refund_limit_time" property="rlt"/>
        <result column="payable" property="payable"/>
        <result column="resume" property="resume"/>
        <result column="free_service" property="freeService"/>
        <result column="online" property="online"/>
        <association property="supportList" select="com.ace.dao.RoomSupportMapper.supportList" column="id"/>
    </resultMap>
    <select id="recordsTotal" resultType="java.lang.Long">
        SELECT count(1) AS recordsTotal FROM bb_rooms
        WHERE project_id = #{staff.projectId}
        <if test="criteria.name!=null and criteria.name!=''">
            AND name LIKE CONCAT('%',#{criteria.name},'%')
        </if>
        <if test="criteria.layerAreaFrom!=null">
            AND layer_area >= #{criteria.layerAreaFrom}
        </if>
        <if test="criteria.layerAreaTo!=null">
            AND #{criteria.layerAreaTo} >= layer_area
        </if>
        <if test="criteria.quotaFrom!=null">
            AND quota >= #{criteria.quotaFrom}
        </if>
        <if test="criteria.quotaTo!=null">
            AND #{criteria.quotaTo} >= quota
        </if>
    </select>

    <select id="dataList" resultType="com.ace.entity.Room">
        SELECT
        bb_rooms.id,
        bb_rooms.serial_no AS serialNo,
        bb_rooms.name,
        bb_rooms.type,
        bb_rooms.publish,
        bb_rooms.rental,
        bb_rooms.building_no AS buildingNo,
        bb_rooms.floor_no AS floorNo,
        bb_rooms.room_no AS roomNo,
        bb_rooms.price,
        bb_rooms.layer_area AS layerArea,
        bb_rooms.quota,
        bb_rooms.supervisor,
        bb_rooms.supervisor_mobile AS supervisorMobile,
        bb_rooms.supervisor_email AS supervisorEmail,
        bb_rooms.free_service AS freeService,
        bb_rooms.online AS online
        FROM bb_rooms
        WHERE project_id = #{staff.projectId}
        <if test="criteria.name!=null and criteria.name!=''">
            AND name LIKE CONCAT('%',#{criteria.name},'%')
        </if>
        <if test="criteria.layerAreaFrom!=null">
            AND layer_area >= #{criteria.layerAreaFrom}
        </if>
        <if test="criteria.layerAreaTo!=null">
            AND #{criteria.layerAreaTo} >= layer_area
        </if>
        <if test="criteria.quotaFrom!=null">
            AND quota >= #{criteria.quotaFrom}
        </if>
        <if test="criteria.quotaTo!=null">
            AND #{criteria.quotaTo} >= quota
        </if>
        ORDER BY id DESC
        <if test="length!=0">
            LIMIT #{start},#{length}
        </if>
    </select>
    <!--筛选用户下的管理的所有会议室，用于筛选-->
    <select id="roomList" resultType="com.ace.entity.Room">
        SELECT bb_rooms.id, bb_rooms.name
        FROM bb_rooms
        WHERE project_id = #{staff.projectId}
    </select>
    <!--客户端查询会议室，包含自有和开放的-->
    <select id="query" resultType="com.ace.entity.Room">
        SELECT
        id,
        serial_no AS serialNo,
        CONCAT(project_name,name) AS name,
        CONCAT('https://bb-platform.oss-cn-hangzhou.aliyuncs.com/',cover) AS cover,
        type,
        publish,
        rental,
        building_no AS buildingNo,
        floor_no AS floorNo,
        room_no AS roomNo,
        price,
        layer_area AS layerArea,
        quota,
        supervisor,
        supervisor_mobile AS supervisorMobile,
        supervisor_email AS supervisorEmail,
        free_service AS freeService
        FROM bb_rooms
        WHERE online = true AND (publish = 1 OR project_id IN
        <foreach collection="account.staffList" item="staff" index="index" open="(" separator="," close=")">
            #{staff.projectId}
        </foreach>
        )
        <if test="query.keyword != null and query.keyword != ''">
            AND name LIKE CONCAT('%',#{query.keyword},'%')
        </if>
        <if test="query.quota != 0">
            AND quota > #{query.quota}
        </if>
        ORDER BY ${query.sort.column} ${query.sort.order} LIMIT #{query.start},#{query.pageSize}
    </select>

    <insert id="create" useGeneratedKeys="true" keyProperty="room.id">
        insert into bb_rooms (project_id,
                              project_name,
                              name,
                              cover,
                              image,
                              serial_no,
                              building_no,
                              floor_no,
                              room_no,
                              layer_height,
                              type,
                              publish,
                              layer_area,
                              quota,
                              price,
                              free,
                              free_org,
                              open_date,
                              close_date,
                              unit,
                              renew,
                              rental,
                              supervisor,
                              supervisor_mobile,
                              supervisor_email,
                              payable,
                              cfm,
                              refund_limit_time,
                              resume,
                              free_service)
        values (#{staff.projectId},
                #{staff.projectName},
                #{room.name},
                #{room.cover},
                #{room.image,typeHandler=com.ace.dao.handler.StringListHandler},
                #{room.serialNo},
                #{room.buildingNo},
                #{room.floorNo},
                #{room.roomNo},
                #{room.layerHeight},
                #{room.type},
                #{room.publish},
                #{room.layerArea},
                #{room.quota},
                #{room.price},
                #{room.free},
                #{room.openDate},
                #{room.closeDate},
                #{room.unit},
                #{room.renew},
                #{room.rental},
                #{room.supervisor},
                #{room.supervisorMobile},
                #{room.supervisorEmail},
                #{room.payable},
                #{room.cfm},
                #{room.rlt},
                #{room.resume},
                #{room.freeService})
    </insert>

    <select id="findById" resultMap="dMap">
        SELECT *
        FROM bb_rooms
        WHERE id = #{id}
    </select>

    <update id="update">
        update bb_rooms
        set name = #{name},
        <if test="cover != null">
            cover = #{cover},
        </if>
        <if test="image != null and image.size !=0">
            image = #{image,typeHandler=com.ace.dao.handler.StringListHandler},
        </if>
        serial_no = #{serialNo},
        building_no = #{buildingNo},
        floor_no = #{floorNo},
        room_no = #{roomNo},
        layer_height = #{layerHeight},
        type = #{type},
        publish = #{publish},
        layer_area = #{layerArea},
        quota = #{quota},
        price = #{price},
        free = #{free},
        open_date = #{openDate},
        close_date = #{closeDate},
        unit = #{unit},
        renew = #{renew},
        rental = #{rental},
        supervisor = #{supervisor},
        supervisor_mobile = #{supervisorMobile},
        supervisor_email = #{supervisorEmail},
        payable = #{payable},
        cfm = #{cfm},
        refund_limit_time = #{rlt},
        resume = #{resume},
        free_service = #{freeService}
        where id = #{id}
    </update>

    <update id="enable">
        UPDATE bb_rooms
        SET online = true
        where id = #{id}
    </update>

    <update id="disable">
        UPDATE bb_rooms
        SET online = false
        where id = #{id}
    </update>

    <select id="appointedRoom" resultMap="dMap">
        SELECT bb_rooms.project_id, bb_rooms.project_name, bb_rooms.id, bb_rooms.name
        FROM bb_rooms
                 LEFT JOIN bb_order_appointments ON bb_rooms.id = bb_order_appointments.room_id
                 INNER JOIN bb_orders ON bb_order_appointments.order_id = bb_orders.id
        WHERE CONCAT(DATE_FORMAT(bb_orders.created_at, '%Y%m%d'), LPAD(bb_orders.id, 6, 0)) = #{orderNo}
    </select>
</mapper>