<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ace.dao.StaffMapper">
    <resultMap type="com.ace.entity.Staff" id="staffMap">
        <id column="id" property="id"/>
        <result column="account_id" property="accountId"/>
        <result column="account_name" property="accountName"/>
        <result column="project_id" property="projectId"/>
        <result column="project_name" property="projectName"/>
        <result column="org_id" property="orgId"/>
        <result column="org_name" property="orgName"/>
        <result column="emp_id" property="empId"/>
        <result column="emp_name" property="empName"/>
    </resultMap>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        insert into bb_staffs (account_id,account_name,project_id,project_name,org_id,org_name,emp_id,emp_name)
        values
        <foreach collection="list" item="sf" index="index" separator=",">
            (#{sf.accountId},#{sf.accountName},#{sf.projectId},#{sf.projectName},#{sf.orgId},#{sf.orgName},#{sf.empId},#{sf.empName})
        </foreach>
    </insert>

    <select id="relatedStaffList" resultMap="staffMap" parameterType="map">
        select * from bb_staffs
        <where>
            <if test="project != null and project != ''">
                and project_id = "${project}"
            </if>
            <if test="org != null and org != ''">
                and org_id = "${org}"
            </if>
        </where>
    </select>
    <select id="findById" resultMap="staffMap">
        select *
        from bb_staffs
        where id = #{id}
    </select>

    <select id="manager" resultMap="staffMap">
        SELECT *
        FROM bb_staffs
                 LEFT JOIN bb_rooms ON bb_staffs.id = bb_rooms.staff_id
        WHERE bb_rooms.id = #{room}
    </select>
</mapper>