<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ace.dao.SupportMapper">
    <resultMap type="com.ace.entity.Support" id="supMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="cover" property="cover"/>
        <result column="unit" property="unit"/>
        <result column="online" property="online"/>
    </resultMap>
    <select id="recordsTotal" resultType="java.lang.Long">
        SELECT count(1) AS recordsTotal FROM bb_supports
        <where>
            <if test="staff!=null">
                AND org_id = #{staff.orgId}
            </if>
            <if test="criteria.name!=null and criteria.name!=''">
                AND name LIKE CONCAT('%',#{criteria.name},'%')
            </if>
        </where>
    </select>

    <select id="dataList" resultMap="supMap">
        SELECT * FROM bb_supports
        <where>
            <if test="staff!=null">
                AND org_id = #{staff.orgId}
            </if>
            <if test="criteria.name!=null and criteria.name!=''">
                AND name LIKE CONCAT('%',#{criteria.name},'%')
            </if>
        </where>
        ORDER BY id DESC LIMIT #{criteria.start},#{criteria.length}
    </select>

    <select id="all" resultMap="supMap">
        SELECT *
        FROM bb_supports
        WHERE org_id = #{staff.orgId}
    </select>

    <insert id="create" useGeneratedKeys="true" keyProperty="support.id">
        insert into bb_supports (project_id, org_id, name, cover, unit)
        values (#{staff.projectId}, #{staff.orgId}, #{support.name}, #{support.cover}, #{support.unit})
    </insert>

    <select id="findById" resultMap="supMap">
        select *
        from bb_supports
        where id = #{id}
        limit 1
    </select>

    <update id="update">
        UPDATE bb_supports
        SET name  = #{support.name},
            cover = #{support.cover},
            unit  = #{support.unit}
        WHERE id = #{support.id}
    </update>

    <update id="destroy">
        DELETE
        FROM bb_supports
        WHERE id = #{id}
    </update>
</mapper>