<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ace.dao.SupportMapper">
    <resultMap type="com.ace.entity.Support" id="supMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="cover" property="cover"/>
        <result column="unit" property="unit"/>
    </resultMap>
    <select id="recordsTotal" resultType="java.lang.Long">
        SELECT count(1) AS recordsTotal FROM bb_supports
        WHERE project_id = #{staff.projectId}
        <if test="criteria.name!=null and criteria.name!=''">
            AND name LIKE CONCAT('%',#{criteria.name},'%')
        </if>
    </select>

    <select id="dataList" resultMap="supMap">
        SELECT * FROM bb_supports
        WHERE project_id = #{staff.projectId}
        <if test="criteria.name!=null and criteria.name!=''">
            AND name LIKE CONCAT('%',#{criteria.name},'%')
        </if>
        ORDER BY id DESC LIMIT #{criteria.start},#{criteria.length}
    </select>

    <select id="all" resultMap="supMap">
        SELECT *
        FROM bb_supports
        WHERE project_id = #{staff.projectId}
    </select>

    <insert id="create" useGeneratedKeys="true" keyProperty="support.id">
        insert into bb_supports (project_id, name, cover, unit)
        values (#{staff.projectId}, #{support.name}, #{support.cover}, #{support.unit})
    </insert>

    <select id="findById" resultMap="supMap">
        select *
        from bb_supports
        where id = #{id}
        limit 1
    </select>

    <update id="update">
        update bb_supports
        set name  = #{support.name},
            cover = #{support.cover},
            unit  = #{support.unit}
        where id = #{support.id}
    </update>
    <delete id="destroy">
        delete
        from bb_supports
        where id = #{id}
    </delete>
</mapper>